<div class="board-wrapper" *ngIf="data$ | async as data">
  <div class="board-header">
    <div class="board-header-btn board-name">
      <h1 class="board-header-btn-text">
        {{ data.title }}
      </h1>
    </div>
  </div>
  <div class="board-canvas">
    <div
      class="board"
      cdkDropList
      *ngIf="listIds$ | async as listIds"
      (cdkDropListDropped)="dropList($event)"
      cdkDropListOrientation="horizontal"
      cdkDropListGroup
    >
      <app-list *ngFor="let listId of listIds" [id]="listId"></app-list>
      <app-list-add></app-list-add>
    </div>
  </div>
</div>
