<div *ngIf="card$ | async as card" class="modal">
  <div class="modal-header">
    <span class="modal-header-icon material-icons icon-lg">dashboard</span>
    <div class="modal-title">
      <textarea
        #title
        appAutoResize
        [value]="card.title"
        (blur)="updateTitle(card, title.value)"
        (keydown)="keydownTitle($event, card)"
        class="modal-title-text"
      ></textarea>
    </div>
    <div class="modal-header-inline quiet">in list {{ listName$ | async }}</div>
  </div>
  <div class="modal-main-col">
    <div class="card-detail-data gutter">
      <div *ngIf="showLabels$ | async" class="card-detail-item">
        <div class="card-detail-item-header">Labels</div>
        <div>
          <app-card-label
            *ngFor="let label of labels$ | async"
            [label]="label"
            type="detail"
          ></app-card-label>
        </div>
      </div>
    </div>
    <div class="modal-module">
      <div class="modal-module-title description-title">
        <span class="modal-module-title-icon material-icons icon-lg"
          >subject</span
        >
        <h3>Description</h3>
      </div>
      <div class="gutter">
        <div class="description-content">
          <div class="markeddown" [innerHTML]="card.description | marked"></div>
        </div>
      </div>
    </div>
    <div class="modal-module">
      <div class="modal-module-title card-detail-activity">
        <span
          class="
            modal-module-title-icon modal-header-icon
            material-icons
            icon-lg
          "
          >toc</span
        >
        <h3>Activity</h3>
        <div class="modal-module-title-options">
          <a class="subtle button" href="#">Show details</a>
        </div>
      </div>
      <app-add-comment></app-add-comment>
      <app-comment
        *ngFor="let comment of comments$ | async"
        [data]="comment"
      ></app-comment>
    </div>
  </div>
</div>
