<div *ngIf="card$ | async as card" class="modal">
  <div class="modal-header">
    <span class="modal-header-icon material-icons icon-lg">dashboard</span>
    <div class="modal-title">
      <textarea
        #title
        [value]="card.title"
        (blur)="updateTitle(card.id, title.value)"
        (keydown)="keydownTitle($event, card)"
        class="modal-title-text"
      ></textarea>
    </div>
    <div class="modal-header-inline quiet">in list {{ listName$ | async }}</div>
  </div>
  <div class="modal-main-col">
    <div class="card-detail-data"></div>
    <div class="modal-module">
      <div class="modal-module-title description-title">
        <span class="modal-module-title-icon material-icons icon-lg"
          >subject</span
        >
        <h3>Description</h3>
      </div>
      <div class="gutter">
        <div class="description-content">
          {{ card.description }}
        </div>
      </div>
    </div>
  </div>
</div>
