<div [routerLink]="card.id" cdkDrag class="card">
  <div class="card-details">
    <div class="card-labels">
      <app-card-label
        (click)="toggleLabelExpand(); $event.stopPropagation()"
        *ngFor="let label of labels$ | async"
        [label]="label"
        [expand]="labelExpand$ | async"
        type="front"
      ></app-card-label>
    </div>
    <div class="card-title">{{ card.title }}</div>
    <div class="badges">
      <div
        *ngIf="card.due"
        class="badge js-due-date-badge mod-due-date"
        [ngClass]="getDueClass(card)"
        (click)="toggleDue(card); $event.stopPropagation()"
        (mouseenter)="dueMouseEnter($event)"
        (mouseleave)="dueMouseLeave($event)"
        title="This card is complete."
      >
        <span *ngIf="!dueHover" class="icon-sm material-icons">schedule</span>
        <span
          *ngIf="dueHover && card.dueComplete"
          class="icon-sm material-icons-outlined"
          >check_box</span
        >
        <span
          *ngIf="dueHover && !card.dueComplete"
          class="icon-sm material-icons-outlined"
          >check_box_outline_blank</span
        >
        <span class="badge-text js-due-date-text">{{
          card.due | date: "MMM d, y"
        }}</span>
      </div>
    </div>
  </div>
</div>
