<div *ngIf="!isOpen" (click)="open()" class="card-add-wrapper">
  <div [ngSwitch]="isListEmpty$ | async" class="card-add">
    <ng-container *ngSwitchCase="true">+ Add a card</ng-container>
    <ng-container *ngSwitchCase="false">+ Add another card</ng-container>
  </div>
</div>
<div *ngIf="isOpen" class="card-add-frame">
  <form [formGroup]="formGroup" class="card">
    <div class="card-details">
      <textarea
        formControlName="title"
        placeholder="Enter a title for this card..."
        class="card-textarea"
        cdkTrapFocus
        cdkTrapFocusAutoCapture
      ></textarea>
    </div>
  </form>
  <div class="card-add-controls">
    <button
      (click)="addCard()"
      class="btn btn-primary list-add-button"
      type="button"
    >
      Add card
    </button>
    <span (click)="close()" class="icon-lg icon-close"></span>
  </div>
</div>
