.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.card-details {
  overflow: hidden;
  padding: 6px 8px 2px;
  position: relative;
  z-index: 10;
}

.card-title {
  clear: both;
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  color: #172b4d;
}

.card-labels {
  overflow: auto;
  position: relative;
}

.badges {
  float: left;
  max-width: 100%;
  margin-left: -2px;
}

.badge {
  color: #5e6c84;
  display: inline-block;
  margin: 0 4px 4px 0;
  max-width: 100%;
  min-height: 20px;
  overflow: hidden;
  position: relative;
  padding: 2px;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: top;
}

.badge.mod-due-date:hover {
  border-radius: 3px;
  background-color: #ebecf0;
}

.badge.is-due-complete {
  background-color: #61bd4f;
  border-radius: 3px;
  color: #fff;
}

.badge.mod-due-date:hover.is-due-complete {
  background-color: #519839;
}

.badge.is-due-soon {
  background-color: #f2d600;
  border-radius: 3px;
  color: #fff;
}

.badge.mod-due-date:hover.is-due-soon {
  background-color: #d9b51c;
}

.badge.is-due-overdue {
  background-color: #eb5a46;
  border-radius: 3px;
  color: #fff;
}

.badge.mod-due-date:hover.is-due-overdue {
  background-color: #b04632;
}

.badge.is-due-past {
  background-color: #ec9488;
  border-radius: 3px;
  color: #fff;
}

.badge.mod-due-date:hover.is-due-past {
  background-color: #eb5a46;
}

.badge-text {
  font-size: 12px;
  padding: 0 4px 0 2px;
  vertical-align: top;
  white-space: nowrap;
}
