<div *ngIf="card$ | async as card" class="modal">
  <button type="button" (click)="close()" class="material-icons icon-md close-button">close</button>
  <div class="modal-header">
    <span class="modal-header-icon material-icons icon-lg">dashboard</span>
    <div class="modal-title">
      <textarea
        #title
        appAutoResize
        [value]="card.title"
        (blur)="updateTitle(card, title.value)"
        (keydown)="keydownTitle($event, card)"
        class="modal-title-text"
      ></textarea>
    </div>
    <div class="modal-header-inline quiet">in list {{ listName$ | async }}</div>
  </div>
  <div class="modal-main-col">
    <div class="card-detail-data gutter">
      <div *ngIf="showLabels$ | async" class="card-detail-item">
        <div class="card-detail-item-header">Labels</div>
        <div>
          <app-card-label
            *ngFor="let label of labels$ | async"
            [label]="label"
            type="detail"
          ></app-card-label>
        </div>
      </div>
      <div *ngIf="showDue$ | async" class="card-detail-item">
        <div class="card-detail-item-header">Due Date</div>
        <div class="card-detail-due">
          <button
            class="card-detail-due-box"
            [ngClass]="{ 'is-due-complete': card.dueComplete }"
            (click)="toggleDue(card)"
            type="button"
          >
            <span class="due-complete-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                [attr.fill]="card.dueComplete ? '#FFF' : 'transparent'"
                viewBox="-3 -4 16 16"
              >
                <path
                  d="M1.49 3.215a.667.667 0 00-.98.903l2.408 2.613c.358.351.892.351 1.223.02l.243-.239a1689.645 1689.645 0 002.625-2.589l.027-.026a328.23 328.23 0 002.439-2.429.667.667 0 10-.95-.936c-.469.476-1.314 1.316-2.426 2.417l-.027.026a1368.126 1368.126 0 01-2.517 2.482L1.49 3.215z"
                />
              </svg>
            </span>
          </button>
          <button class="btn" [ngSwitch]="showDueYear$ | async">
            <span *ngSwitchCase="true">
              {{ card.due | date: "MMM d, y 'at' h:mm a" }}
            </span>
            <span *ngSwitchCase="false">
              {{ card.due | date: "MMM d 'at' h:mm a" }}
            </span>
            <span class="material-icons icon-sm">expand_more</span>
          </button>
        </div>
      </div>
    </div>
    <div class="modal-module">
      <div class="modal-module-title description-title">
        <span class="modal-module-title-icon material-icons icon-lg"
          >subject</span
        >
        <h3>Description</h3>
      </div>
      <div class="gutter">
        <div class="description-content">
          <div
            *ngIf="!editing && card.description"
            (click)="focusDescription(); $event.stopPropagation()"
            class="markeddown"
            [innerHTML]="card.description | marked"
          ></div>
          <div
            *ngIf="!editing && !card.description"
            (click)="focusDescription(); $event.stopPropagation()"
            class="description-empty"
            style="cursor: pointer"
          >
            Add a more detailed description…
          </div>
          <div
            (document:click)="saveDescription(card, descriptionArea.value)"
            (click)="$event.stopPropagation()"
            *ngIf="editing"
            class="description-edit"
          >
            <textarea
              #descriptionArea
              [value]="card.description"
              class="description-field"
              appAutoResize
            ></textarea>
            <div class="edit-controls">
              <button
                (click)="saveDescription(card, descriptionArea.value)"
                class="btn btn-primary"
                type="button"
              >
                Save
              </button>
              <span (click)="cancelDescription()" class="icon-lg icon-close"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-module">
      <div class="modal-module-title card-detail-activity">
        <span
          class="
            modal-module-title-icon modal-header-icon
            material-icons
            icon-lg
          "
          >toc</span
        >
        <h3>Activity</h3>
      </div>
      <app-add-comment></app-add-comment>
      <app-comment
        *ngFor="let comment of comments$ | async"
        [data]="comment"
        (edit)="editComment($event)"
        (delete)="deleteComment($event)"
      ></app-comment>
    </div>
  </div>
  <div class="modal-sidebar">
    <div class="modal-module">
      <h3>Actions</h3>
      <button class="action-button negate" (click)="deleteCard(card.id)">
        <span class="material-icons icon-sm">remove</span>
        Delete
      </button>
    </div>
  </div>
</div>
