.modal {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  overflow: hidden;
  width: 768px;
  min-height: 600px;
}

@media only screen and (max-width: 750px) {
  .modal {
    margin: 36px 8px;
    width: auto;
  }
}

.modal-header {
  margin: 12px 40px 8px 56px;
  min-height: 32px;
  position: relative;
}

.modal-header-icon {
  left: -40px;
  position: absolute;
  top: 4px;
}

.modal-title {
  margin: 4px 0 0;
  padding: 8px 0 0;
}

.modal-title-text {
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-size: 20px;
  font-weight: 600;
  height: 32px;
  line-height: 24px;
  margin: -4px -8px;
  min-height: 24px;
  padding: 4px 8px;
  resize: none;

  &:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #0079bf;
  }
}

.modal-header-inline-content {
  cursor: default;
  display: inline-block;
  margin: 4px 8px 4px 2px;
}

.modal-main-col {
  float: left;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 24px;
  padding: 0 8px 8px 16px;
  position: relative;
  width: 552px;
}

@media only screen and (max-width: 750px) {
  .modal-main-col {
    float: none;
    max-height: none;
    padding: 8px;
    max-width: none;
    min-width: 0;
    width: auto;
  }
}

.modal-module {
  clear: both;
  margin-bottom: 24px;
  position: relative;
}

.modal-module-title {
  padding: 8px 0;
  position: relative;
  margin: 0 0 4px 40px;
}

.description-title {
  display: flex;
  align-items: center;
  min-height: 32px;

  .modal-module-title-icon {
    top: 8px;
  }
}

.modal-module-title-icon {
  left: -40px;
  position: absolute;
  top: 2px;
}

.modal-module-title h3 {
  display: inline-block;
  width: auto;
  margin: 0;
  min-height: 18px;
  min-width: 40px;
}

.gutter {
  margin-left: 40px;
}

.description-content {
  position: relative;
}

.card-detail-data {
  margin-top: 8px;
}

.card-detail-item {
  display: block;
  float: left;
  margin: 0 8px 8px 0;
  max-width: 100%;
}

.card-detail-item-header {
  color: #5e6c84;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-transform: uppercase;
  display: block;
  line-height: 20px;
  margin: 0 8px 4px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-detail-activity {
  justify-content: space-between;
}

.card-detail-activity,
.card-detail-description {
  display: flex;
  align-items: center;
  min-height: 32px;
}

.card-detail-activity .button.subtle,
.card-detail-description .button.subtle {
  margin: 0 0 0 8px;
}

.card-detail-activity .modal-module-title-icon,
.card-detail-description .modal-module-title-icon {
  top: 8px;
}

.button {
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  border: none;
  display: inline-block;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 6px 12px;
  text-decoration: none;
  position: relative;
}

.button {
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 20px;
  margin: 8px 4px 0 0;
  padding: 6px 12px;
  text-align: center;
}

.button:hover {
  background-color: rgba(9, 30, 66, 0.08);
  box-shadow: none;
  border: none;
}
