<div cdkDrag class="card" *ngIf="data$ | async as data">
  <div class="card-details">
    <div class="card-title">{{ data.title }}</div>
    <div class="badges">
      <div
        *ngIf="data.due"
        class="badge js-due-date-badge mod-due-date"
        [ngClass]="getDueClass(data)"
        (click)="toggleDue(data)"
        (mouseenter)="dueMouseEnter($event)"
        (mouseleave)="dueMouseLeave($event)"
        title="This card is complete."
      >
        <span *ngIf="!dueHover" class="icon-sm material-icons">schedule</span>
        <span *ngIf="dueHover && data.dueComplete" class="icon-sm material-icons-outlined">check_box</span>
        <span *ngIf="dueHover && !data.dueComplete" class="icon-sm material-icons-outlined">check_box_outline_blank</span>
        <span class="badge-text js-due-date-text">{{
          data.due | date: "MMM d, y"
        }}</span>
      </div>
    </div>
  </div>
</div>
