<div class="list-wrapper list-add" [ngClass]="{ 'is-closed': !isOpen }">
  <div (click)="open()" *ngIf="!isOpen" class="placeholder">
    + Add another list
  </div>
  <form [formGroup]="formGroup" *ngIf="isOpen">
    <input
      formControlName="title"
      class="list-name-input"
      type="text"
      name="name"
      placeholder="Enter list title…"
      autocomplete="off"
      maxlength="512"
      cdkTrapFocus
      cdkTrapFocusAutoCapture
    />
    <div class="list-add-controls">
      <button
        (click)="addList()"
        class="btn btn-primary list-add-button"
        type="button"
      >
        Add list
      </button>
      <span (click)="close()" class="icon-lg icon-close"></span>
    </div>
  </form>
</div>
