<div
  *ngIf="data$ | async as data"
  cdkDrag
  [cdkDragData]="data.id"
  class="list-wrapper"
>
  <div class="list">
    <div class="list-header">
      <div (click)="focusTitle()" cdkDragHandle class="list-target"></div>
      <textarea
        #title
        appAutoResize
        class="list-header-name"
        [value]="data.title"
        (focus)="onTitleFocus()"
        (blur)="updateTitle(data, title.value)"
        (keydown)="keydownTitle($event, data)"
      ></textarea>
    </div>
    <div class="list-cards">
      <div
        class="list-cards-droppable"
        cdkDropList
        *ngIf="cardIds$ | async as cardIds"
        [attr.id]="data.id"
        [cdkDropListData]="data"
        (cdkDropListDropped)="dropCard($event)"
      >
        <app-card *ngFor="let cardId of cardIds" [id]="cardId"></app-card>
      </div>
      <app-card-add [listId]="data.id"></app-card-add>
    </div>
  </div>
</div>
