.wrapper {
  height: 100vh;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2334x1600/b17d718f0d64f2086a17baafcc47a080/photo-1621328619089-013e2bf39a59.jpg");
}

.surface {
  display: flex;
  flex-direction: column;
  height: 100%;
}
