/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

body {
  margin: 0;
}

input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

textarea {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
}

input:not([type="file"]),
textarea {
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  background-color: #fafbfc;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: block;
  line-height: 20px;
  margin-bottom: 12px;
  padding: 8px 12px;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"] {
  width: 250px;
}

input:not([type="file"]):focus,
textarea:focus {
  outline: 0;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
textarea:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0 0 12px;
}

h3,
h4,
h5,
h6 {
  font-size: 16px;
  line-height: 20px;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0 0 8px;
}

p {
  margin: 0 0 8px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.markeddown ol,
.markeddown ul {
  margin: 8px 0;
}

.markeddown ol > li,
.markeddown ul > li {
  margin: 8px 8px 8px 24px;
  -webkit-margin-start: 24px;
  margin-inline-start: 24px;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
}

.markeddown ul > li {
  list-style: disc;
}

body,
button,
html,
input,
select,
textarea {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

textarea {
  width: 100%;
}

.btn {
  color: #172b4d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.btn.btn-primary {
  background-color: #0079bf;
  box-shadow: none;
  border: none;
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: #026aa7;
}

.icon-lg,
.icon-sm {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
}

.icon-lg {
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  width: 32px;
}

.icon-sm {
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  width: 20px;
}

.icon-close {
  cursor: pointer;
}

.icon-close:before {
  content: "✕";
}

.member {
  background-color: #dfe1e6;
  border-radius: 25em;
  color: #172b4d;
  cursor: pointer;
  display: block;
  float: left;
  height: 32px;
  margin: 0 4px 4px 0;
  overflow: visible;
  position: relative;
  width: 32px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.member-no-menu {
  cursor: default;
}

.member-initials {
  display: block;
  font-size: 12px;
  font-weight: 700;
  height: 32px;
  left: 0;
  line-height: 32px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.quiet,
.quiet a {
  color: #5e6c84;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-global-overlay-wrapper {
  overflow-y: auto;
  pointer-events: auto;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.64);
}

.font-weight-bold {
  font-weight: 700;
}
