<div class="activity">
  <div class="activity-creator">
    <div class="member">
      <span
        class="member-initials"
        title="Ahn Seonghyun (ahnseonghyun)"
        aria-label="Ahn Seonghyun (ahnseonghyun)"
        >AS</span
      >
    </div>
  </div>
  <div class="activity-desc">
    <span class="font-weight-bold">Ahn Seonghyun</span>
    <span class="inline-spacer"> </span>
    <span class="activity-date quiet">an hour ago</span>
    <div class="comment-container">
      <div class="action-comment markeddown">
        <div class="current-comment" [innerHTML]="data.content | marked"></div>
      </div>
    </div>
  </div>
  <div class="activity-reaction">
    <div class="action-meta">
      <span (click)="deleteComment()">Delete</span>
    </div>
  </div>
</div>
