<div class="activity">
  <div class="activity-creator">
    <div class="member">
      <span
        class="member-initials"
        title="Ahn Seonghyun (ahnseonghyun)"
        aria-label="Ahn Seonghyun (ahnseonghyun)"
        >AS</span
      >
    </div>
  </div>
  <div class="activity-desc">
    <span class="font-weight-bold">Ahn Seonghyun</span>
    <span class="inline-spacer"> </span>
    <span class="activity-date quiet">an hour ago</span>
    <div class="comment-container">
      <div *ngIf="!isEdit" class="action-comment markeddown">
        <div class="current-comment" [innerHTML]="data.content | marked"></div>
      </div>
      <div *ngIf="isEdit" class="comment-frame">
        <div class="comment-box-form">
          <textarea
          #form
          appAutoResize
          [formControl]="content"
          class="comment-box-input"
          (keydown)="keydownForm($event)"
          ></textarea>
          <div class="comment-controls">
            <button
              (click)="editComment()"
              class="btn btn-primary"
              type="button"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isEdit" class="activity-reaction">
    <div class="action-meta">
      <span (click)="focusEdit()">Edit</span> - <span (click)="deleteComment()">Delete</span>
    </div>
  </div>
</div>
